<div class="container" style="margin-top: 20px; max-width: 50%;">

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" class="form-control" formControlName="name" placeholder="Nombre">
      <div class="invalid-feedback" style="display: block">
        <ng-container *ngIf="hasError('name', 'required')">This field is required</ng-container>
      </div>
    </div>
    <app-file-upload formControlName="img_file" [accept]="imgExtensions"></app-file-upload>
    <div class="invalid-feedback" style="display: block">
      <ng-container *ngIf="hasError('img_file', 'required')">Este campo es obligatorio</ng-container>
      <ng-container *ngIf="hasError('img_file', 'requiredFileType')">Archivo invalido</ng-container>
    </div>
    <app-file-upload formControlName="pdf_file" [accept]="pdfExtensions"></app-file-upload>
    <div class="invalid-feedback" style="display: block">
      <ng-container *ngIf="hasError('pdf_file', 'required')">Este campo es obligatorio</ng-container>
      <ng-container *ngIf="hasError('pdf_file', 'requiredFileType')">Archivo invalido</ng-container>
      <ng-container *ngIf="hasError('pdf_file', 'maxSizeFile')">Muy pesado</ng-container>
    </div>
    <app-file-upload formControlName="xml_file" [accept]="xmlExtensions"></app-file-upload>
    <div class="invalid-feedback" style="display: block">
      <ng-container *ngIf="hasError('xml_file', 'requiredFileType')">Archivo invalido</ng-container>
    </div>
    <app-file-upload formControlName="xlsx_file" [accept]="xlsxExtensions"></app-file-upload>
    <div class="invalid-feedback" style="display: block">
      <ng-container *ngIf="hasError('xlsx_file', 'requiredFileType')">Archivo invalido</ng-container>
    </div>
    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Guardar</button>
  </form>

</div>
